.player {
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    padding: 0 10px;
    background-color: lightgray;

    .track-info {
        width: 200px;
        margin: 0 20px;

        .track-name {
            font-size: 16px;
            color: #1976d2;
        }

        .track-artist {
            font-size: 12px;
            color: black;
        }
    }

    .volume-up {
        margin-left: auto;
    }
}